.header {
    background: #fff;
    color: #8B7969;
    text-align: center;
    font-family: Inika;
    font-size: 40px;
    margin: 0 auto;
    border: 1px solid #E0DFDE;
    padding: 20px 15px;
    max-width: 2000px;
    max-height: 100px;
    font-weight: 400;
    }

.confirm__heading{
        font-family: Inika;
        font-size: 20px;
        font-weight: 400;
        background: #fff;
        color: #8B7969;
        text-align: center;
        height: 150px
    }


