.contact-form__content {
    background: #fff;
    margin: 0 auto;
    padding: 30px 15px;
}

.contact-form__heading {
    width: 121px;
    height: 46px;
    font-weight: Inika;
    font-size: 35px;
    color: #8B7969;
    text-align: center;
    padding: 133px 43px;
}

.form {
    margin: 0 auto;
    width: 70%;
    font-weight: Inika;
}

.confirm-table {
    border: 1px solid #E0DFDE;
    font-weight: Inika;
}

.confirm-table__inner {
    width: 972px;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    background-color: #baa899;
}

.confirm-table__text {
    padding: 15px;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: Inika;
}

.form__button-submit {
    padding: 10px 40px;
    width: 120px;
    height: 42px;
    border: none;
    border-radius: 3px;
    background: #82756a;
    color: #cbc5c1;
    cursor: pointer;
}

.correct__button-submit {
    width: 40px;
    height: 24px;
    color: #8B7969;
}