.thanks__content{
    font-family: Inika;
    color: #8B7969;
    text-align: center;
    position: relative;
}

.thanks__heading{
    top:461px;
    left:501px;
}

.thanks__background-text{
    margin:319px 66px;

}

.return_button-submit{
    text-align: center;
}